.header {
	display: flex;
	justify-content: space-between;
	  flex-direction: row;
}

.try {display: flex;
font-family: Verdana;
flex-direction: row;
font-size: 14px;
font-weight: bold;
z-index: 20;
border: 1px solid;
width: 400px;
align-items: center;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  Margin: 10px;
}

.links {
  display: inline-block;
  align-items: center;
	align-content: flex-end;
	flex-direction: row;
	margin: 10px;
}

.list{
  display: inline-flex;
	list-style-type: none;
}
li {
	margin: 5px;
	color: black;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}
